# ETL Pipeline Preparation

### 1. Importing libraries and loading datasets.

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import re

from sqlalchemy import create_engine
import pandas.io.sql as psql

In [2]:
# Loading messages dataset
messages = pd.read_csv('messages.csv')
messages.head()

,id,message,original,genre
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct

In [3]:
# Loading messages dataset
categories = pd.read_csv('categories.csv')
categories.head()

   id                                         categories
0   2  related-1;request-0;offer-0;aid_related-0;medi...
1   7  related-1;request-0;offer-0;aid_related-1;medi...
2   8  related-1;request-0;offer-0;aid_related-0;medi...
3   9  related-1;request-1;offer-0;aid_related-1;medi...
4  12  related-1;request-0;offer-0;aid_related-0;medi...

### 2. Merging datasets.

In [4]:
#Mering on unique column ('id')
df = pd.merge(messages, categories, on = 'id')
df.head()

,id,message,original,genre,categories
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,related-1;request-0;offer-0;aid_related-0;medi...
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,related-1;request-0;offer-0;aid_related-1;medi...
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,related-1;request-0;offer-0;aid_related-0;medi...
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,related-1;request-1;offer-0;aid_related-1;medi...
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,related-1;request-0;offer-0;aid_related-0;medi...

### 3. Spliting `categories` into separate category columns.

In [5]:
categories = df.categories.str.split(';',expand = True)
categories.head()

,0,1,2,3,4,5,6,7,8,9,...,26,27,28,29,30,31,32,33,34,35
0,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
1,related-1,request-0,offer-0,aid_related-1,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-1,floods-0,storm-1,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
2,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
3,related-1,request-1,offer-0,aid_related-1,medical_help-0,medical_products-1,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
4,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0

In [6]:
#renaming the columns
row = categories.iloc[[0]]

for i, element in row.copy().iteritems():
    new_element = re.sub(r"[^a-zA-Z_]","",element[0])
    row[i] = new_element


category_colnames = row.values[0]

C:\Users\x\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [7]:
categories.columns = category_colnames
categories.head()

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
1,related-1,request-0,offer-0,aid_related-1,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-1,floods-0,storm-1,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
2,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
3,related-1,request-1,offer-0,aid_related-1,medical_help-0,medical_products-1,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
4,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0

### 4. Converting category values to just numbers 0 or 1.

In [8]:
for column in categories:
   
    categories[column] = categories[column].str[-1:]
    
  
    categories[column] = categories[column].astype('int')
categories.head()

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,1,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,1,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Double check if there are only zeros and ones

In [9]:
def check_for_true_false(df, threshold = 0.05):

    for category in df:

        if len(df[category].value_counts().index) == 0:
            print('category {} not useful for predictions since only one possible value is given'.format(category))
            df.drop(columns = category, axis = 1, inplace = True)

        if len(df[category].value_counts().index) >  2:
            tf_only = df[category].value_counts().sort_index()[:2]
            all_values = df[category].value_counts().sort_index()
            tf_only_sum = tf_only.sum()
            all_values_sum = all_values.sum()
            ratio = 1 - (tf_only_sum / all_values_sum)
            print('Too many labels!')
            print('\n')
            print('The number of all rows is {}, \
the number of rows with TRUE or FALSE only is {} -> hence the ratio of excessive classes values makes {}'.format(all_values_sum,
                  tf_only_sum,ratio))

            if ratio < threshold:
                for value in list(all_values.index)[2:]:
                    df.replace(value, np.nan, inplace = True)
                
                df.dropna(subset = [category], inplace = True)
                print("The excessive labels have been dropped")

In [10]:
check_for_true_false(categories)

Too many labels!


The number of all rows is 26386, the number of rows with TRUE or FALSE only is 26182 -> hence the ratio of excessive classes values makes 0.00773137269764268
The excessive labels have been dropped

### 5. Replacing `categories` column in `df` with new category columns.

In [11]:
df.drop(columns = 'categories', inplace = True)
df.head()

,id,message,original,genre
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct

In [12]:
df = pd.concat([df.copy(), categories], axis = 1)

In [13]:
df.head()

,id,message,original,genre,related,request,offer,aid_related,medical_help,medical_products,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,1.0,1.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### 6. Removing duplicates

In [14]:
df.duplicated().sum()

170

In [15]:
df.drop_duplicates(inplace = True)

In [16]:
df.duplicated().sum()

0

In [17]:
df.drop(columns = ['original', 'genre'], axis = 1, inplace = True)

In [18]:
df.dropna(inplace = True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26028 entries, 0 to 26385
Data columns (total 38 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      26028 non-null  int64
 1   message                 26028 non-null  object
 2   related                 26028 non-null  float64
 3   request                 26028 non-null  float64
 4   offer                   26028 non-null  float64
 5   aid_related             26028 non-null  float64
 6   medical_help            26028 non-null  float64
 7   medical_products        26028 non-null  float64
 8   search_and_rescue       26028 non-null  float64
 9   security                26028 non-null  float64
 10  military                26028 non-null  float64
 11  child_alone             26028 non-null  float64
 12  water                   26028 non-null  float64
 13  food                    26028 non-null  float64
 14  shelter                 26028 non-null  float64
 15  clothing                26028 non-null  float64
 16  money                   26028 non-null  float64
 17  missing_people          26028 non-null  float64
 18  refugees                26028 non-null  float64
 19  death                   26028 non-null  float64
 20  other_aid               26028 non-null  float64
 21  infrastructure_related  26028 non-null  float64
 22  transport               26028 non-null  float64
 23  buildings               26028 non-null  float64
 24  electricity             26028 non-null  float64
 25  tools                   26028 non-null  float64
 26  hospitals               26028 non-null  float64
 27  shops                   26028 non-null  float64
 28  aid_centers             26028 non-null  float64
 29  other_infrastructure    26028 non-null  float64
 30  weather_related         26028 non-null  float64
 31  floods                  26028 non-null  float64
 32  storm                   26028 non-null  float64
 33  fire                    26028 non-null  float64
 34  earthquake              26028 non-null  float64
 35  cold                    26028 non-null  float64
 36  other_weather           26028 non-null  float64
 37  direct_report           26028 non-null  float64
dtypes: float64(36), int64(1), object(1)
memory usage: 7.7+ MB

#### Checking if there are no singular classes (with only one value beeing either True or False for all of the records

In [19]:
for column in df.iloc[:,2:]:
    if len(df[column].value_counts()) != 2:
        print(column+" has only one label!")
        print("The feature will be removed")
        df.drop(columns = column, axis = 1, inplace = True)

child_alone has only one label!
The feature will be removed

In [20]:
for column in df.iloc[:,2:]:
    if (df[column].mean() > 0.20) & (df[column].mean() < 0.80):
        print(column+":")
        print("{:>25f}".format(df[column].mean()))

related:
                 0.764792
aid_related:
                 0.417243
weather_related:
                 0.280352

#### Only 3 categories dispose over at least 1/5 ratio between possible labels! Adjustment of weights is required! It will be made in the next jupyter notebook (ML Pipeline)

### 8. Saving the clean dataset into an sqlite database

In [21]:
engine = create_engine('sqlite:///Pipeline_Project.db')
c = engine.connect()
conn = c.connection

df.to_sql('Messages', con = conn, index=False, if_exists = 'replace')